<!DOCTYPE html>

<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Parcial 2</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        
        
        
      <div class="jumbotron text-center">
            <h2>Controle de Estacionamento</h2>
            <p>Parcial POO 2</p> 
      </div> 
        
<div class="container">
  
     <div class="row">
         <div class="col-sm-12">
             <div class="btn-group btn-group-justified">
                <a href="home" class="btn btn-primary">Home</a>
                <a href="cadastrocliente" class="btn btn-primary">Cadastro</a>
                
            </div>
         </div>
     </div>
    
    <div class="row">
        <div class="col-sm-4">
        
        <form th:action="@{/salvarEntrada}" th:object="${entrada}" method="post">
             <label>Digite a placa para entrada do veiculo</label>
             <input type="text" name="Habilitacao" th:field="*{entradaplacaveiculo}"/>
             <button type="submit">salvar</button> 
         </form>
            
            
        </div>
        <div class="col-sm-4">
            
            <form th:action="@{/salvarSaida}" th:object="${saida}" method="post">
             <label>Digite a placa para Saida do veiculo</label>
             <input type="text" name="Habilitacao" th:field="*{saidaveiculo}"/>
             <button type="submit">salvar</button> 
         </form>
            
        <!--
        <form name="asdfd" action="formularioa" method="POST">
             <label>Digite a placa para registrar a saida do veiculo</label>
             <input type="text" name="Habilitacao" /><br/>
             <input type="submit" value="Processa Saida" name="enviarplaca" />
         </form>-->
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-4">
        <h5>Vagas Ocupadas</h5>
        
        </div>
        <div class="col-sm-4">
        <h5>Total de Vagas</h5>   
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
        <h5>Pesquisa se cliente tem cadastro pela nome do cliente</h5>
        
         <label>Pesquisar cliente cadastrado pelo nome do proprietario</label>
         <form th:action="@{/pesquisaCliente}" th:object="${pesquisa}" method="post">
             <label>Digite a placa para Saida do veiculo</label>
             <input type="text" name="Habilitacao" th:field="*{pesquisaCliente}"/>
             <button type="submit">salvar</button> 
         </form>
         
         
         
	 
    </div>

    
    <div class="row">
        <div class="col-sm-12">
        <h5>Veiculos Ativos no Estacionamento</h5>

    </div>
</div>
      
      
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        
</html>
